<!DOCTYPE >
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>edit file</title>
</head>
<body>
<div class="container my-5 p-5" style="border:1px solid black;">
    <form class="col-md-4 offset-md-4" th:action="@{/edit-name-file}" method="POST">
        <div class="mb-3">
            <label for="newObjectName" class="form-label">name file: </label>
            <input type="text" class="form-control" id="newObjectName" name="newObjectName">
            <input type="hidden" name="bucketName" th:value="${bucketName}"/>
            <input type="hidden" name="objectName" th:value="${objectName}"/>
        </div>
        <center><button type="submit" class="btn btn-primary">edit</button></center>
    </form>
</div>
</body>
</html>
